/* TOC 目录容器样式 */
.toc-container {
	position: fixed;       /* 固定在页面一侧  */
	top: 400px;            /* 距离顶部 100px */
	left: 20px;           /* 距离左侧 20px */
	width: 200px;          /* 宽度 */
	background-color: #f5f5f5; /* 背景颜色 */
	border: 1px solid #ddd; /* 边框 */
	padding: 15px;         /* 内边距 */
	border-radius: 8px;    /* 圆角 */
	font-size: 14px;       /* 字体大小 */
	overflow-y: auto;      /* 超出部分滚动 */
	max-height: 70%;       /* 最大高度 */
	z-index: 1000;         /* 确保在其他元素上层 */
	margin-bottom: 1px; /* 减小标题与链接的间隔 */
	}
  
/* TOC 标题样式 */
.toc-container h4 {
	font-size: 16px;
	margin-bottom: 1px;
	text-align: center;
}

/* TOC 链接样式 */
.toc-container a {
	display: block;
	color: #000000;
	text-decoration: none;
	margin: 5px 0;
}
.toc-container a:hover {
	color: #0056b3;
	text-decoration: underline;
}

@media (max-width: 768px) {
	.toc-container {
	  display: none; /* 在小屏设备上完全隐藏目录 */
	}
  }